<a href="https://colab.research.google.com/github/MnCSSJ4x/Content-based-recommendation/blob/main/TextToNetflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Netflix Movies Reccomendation System 
Goal is to suggest a movie if a user liked a specific movie from the list of movies on Netflix

In [31]:
import numpy as np 
import pandas as pd 
import re
import tqdm 
!pip install sentence-transformers
from sentence_transformers import SentenceTransformer
import torch
from sklearn.metrics.pairwise import cosine_similarity

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.8/dist-packages (2.2.2)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.22.4)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (4.26.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (4.64.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.2.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (3.7)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.10.1)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.13.1+cu116)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.12.1)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.14.1+cu116)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.9.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.25.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (8.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from torchvision->sentence-transformers) (8.4.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.14)

In [32]:
df = pd.read_csv('Top_10000_Movies.csv',lineterminator='\n')

In [33]:
df.head()

,Unnamed: 0,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN
1,1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...
2,2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits."
3,3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend."
4,4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.

In [34]:
df.drop(labels=['Unnamed: 0'],axis="columns",inplace=True)

In [35]:
df = df[df['original_language']=='en']

In [36]:
df.shape

(7798, 12)

In [37]:
df = df.dropna(subset=['original_title','overview','genre'])

In [38]:
df = df.drop(df[df['original_title'] == ''].index)
df = df.drop(df[df['overview'] == ''].index)
df = df.drop(df[df['genre'] == ''].index)
df

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN
1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...
2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits."
3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend."
4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,530,en,A Grand Day Out,9.266,1990-05-18,7.5,594,"['Adventure', 'Animation', 'Comedy', 'Science ...",Wallace and Gromit have run out of cheese and ...,0,23.0,NaN
9996,15934,en,El cantante,10.417,2006-09-12,7.0,80,"['History', 'Drama', 'Music']","The rise and fall of salsa singer, Héctor Lavo...",0,116.0,"Based on the true story of the King of Salsa, ..."
9997,162215,en,How I Live Now,9.520,2013-09-10,6.6,705,"['Drama', 'Action', 'Thriller', 'War']",An American girl on holiday in the English cou...,0,101.0,Love will lead you home
9998,5723,en,Once,9.267,2007-03-23,7.4,990,"['Drama', 'Music', 'Romance']",A vacuum repairman moonlights as a street musi...,20710513,85.0,How often do you find the right person?
9999,311667,en,Manhattan Night,9.273,2016-05-20,6.0,304,"['Drama', 'Mystery', 'Thriller']",Porter Wren is a Manhattan tabloid writer with...,0,113.0,No reporter can resist a siren.

In [39]:
df.columns

Index(['id', 'original_language', 'original_title', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'genre', 'overview',
       'revenue', 'runtime', 'tagline'],
      dtype='object')

In [40]:
def preprocess(text):
  text = re.sub("\'", "", text)
  text = re.sub("[^a-zA-Z]"," ",text)
  text = ' '.join(text.split())
  text = text.lower()
  return text

df['preproc_description'] = df['overview'].apply(lambda x: preprocess(x))
df['preproc_genre'] = df['genre'].apply(lambda x: preprocess(x))
df.head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline,preproc_description,preproc_genre
0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN,after finding a host body in investigative rep...,science fiction action adventure
1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...,the eternals are a team of ancient aliens who ...,action adventure science fiction fantasy
2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits.",paul atreides a brilliant and gifted young man...,action adventure science fiction
3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend.",a mysterious woman recruits bank teller ludwig...,action crime thriller
4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.,a bank teller called guy realizes he is a back...,comedy action adventure science fiction

In [41]:
df['text'] = df["preproc_description"] + " " + df["preproc_genre"]
df['text'] = df['text'].apply(lambda x:x.lower())

In [42]:
df.head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline,preproc_description,preproc_genre,text
0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN,after finding a host body in investigative rep...,science fiction action adventure,after finding a host body in investigative rep...
1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...,the eternals are a team of ancient aliens who ...,action adventure science fiction fantasy,the eternals are a team of ancient aliens who ...
2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits.",paul atreides a brilliant and gifted young man...,action adventure science fiction,paul atreides a brilliant and gifted young man...
3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend.",a mysterious woman recruits bank teller ludwig...,action crime thriller,a mysterious woman recruits bank teller ludwig...
4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.,a bank teller called guy realizes he is a back...,comedy action adventure science fiction,a bank teller called guy realizes he is a back...

In [43]:
ls = []

def prompt(summary):
    ls.append(summary)
    for i in (df["text"]):
        ls.append(i)

In [44]:
model = SentenceTransformer('nli-distilroberta-base-v2')

In [45]:
prompt("Romantic Love story")

In [46]:
embedding = model.encode(ls)
embedding.shape

(7777, 768)

In [47]:
sim = cosine_similarity([embedding[0]], embedding[1:]).flatten()
sim = list(enumerate(sim))
sim.sort(key=lambda x: x[1])
sim.reverse()
sim

[(5924, 0.69888633),
 (5845, 0.69569194),
 (7176, 0.6882043),
 (7555, 0.66787934),
 (2292, 0.64555085),
 (7674, 0.64116085),
 (4343, 0.64050627),
 (6172, 0.63068306),
 (4331, 0.6302371),
 (3651, 0.62763596),
 (5874, 0.6266133),
 (3817, 0.6245341),
 (1735, 0.6148355),
 (4573, 0.61038506),
 (2130, 0.61023915),
 (7722, 0.6062056),
 (6050, 0.605235),
 (7066, 0.6045522),
 (1654, 0.60274863),
 (2734, 0.60247767),
 (1052, 0.6019012),
 (6953, 0.5972286),
 (3306, 0.59506774),
 (4911, 0.59345603),
 (4932, 0.5928292),
 (3911, 0.5926345),
 (6262, 0.59076655),
 (6519, 0.5899837),
 (6019, 0.5895341),
 (4618, 0.5885822),
 (6906, 0.584618),
 (2341, 0.5844343),
 (6944, 0.5828313),
 (3558, 0.5825746),
 (3921, 0.5822004),
 (826, 0.5800849),
 (6214, 0.57902473),
 (1597, 0.57840335),
 (2477, 0.57768154),
 (5283, 0.5762329),
 (6841, 0.57459295),
 (5976, 0.5738617),
 (5082, 0.5730134),
 (1018, 0.5702301),
 (4708, 0.569896),
 (309, 0.5687773),
 (850, 0.5684141),
 (172, 0.5682316),
 (6842, 0.56484395),
 (2438, 0.5640683),
 (416, 0.56265247),
 (4229, 0.5621226),
 (5348, 0.5618332),
 (3633, 0.56131685),
 (5320, 0.56100047),
 (1774, 0.56071055),
 (4649, 0.56068814),
 (4023, 0.5593329),
 (947, 0.55911195),
 (7761, 0.5566852),
 (7721, 0.5565542),
 (4332, 0.55552626),
 (1371, 0.5542785),
 (4849, 0.55352795),
 (7502, 0.5531118),
 (5779, 0.550761),
 (1344, 0.5505418),
 (1894, 0.5500015),
 (5065, 0.5488113),
 (3952, 0.5479441),
 (7556, 0.5478133),
 (5229, 0.5460596),
 (3029, 0.5451915),
 (2442, 0.5448818),
 (5449, 0.54459345),
 (6830, 0.54406285),
 (2075, 0.54390657),
 (6337, 0.54348135),
 (7608, 0.54075533),
 (7589, 0.5403855),
 (1888, 0.53972733),
 (3834, 0.5376115),
 (7221, 0.5369867),
 (351, 0.53602904),
 (6273, 0.534454),
 (6477, 0.53444934),
 (7102, 0.53436536),
 (5512, 0.5341345),
 (7196, 0.53381884),
 (7187, 0.53301567),
 (3685, 0.5326799),
 (1684, 0.53253627),
 (2987, 0.53238857),
 (7014, 0.53191036),
 (2610, 0.5314062),
 (6705, 0.52997077),
 (3205, 0.52957445),
 (3710, 0.52946466),
 (3423, 0.5287648),
 (5131, 0.52674246),
 (2941, 0.5264389),
 (4325, 0.52540386),
 (2687, 0.5250342),
 (7348, 0.5212661),
 (5216, 0.52114075),
 (7294, 0.5203384),
 (1804, 0.5192971),
 (2133, 0.51900506),
 (7301, 0.5177425),
 (2334, 0.5165101),
 (2185, 0.51534665),
 (548, 0.5151814),
 (2149, 0.5135668),
 (460, 0.5126631),
 (6865, 0.5123129),
 (2447, 0.51164603),
 (4775, 0.5113801),
 (3129, 0.5107001),
 (5878, 0.5105233),
 (2961, 0.5104437),
 (3643, 0.51044023),
 (3195, 0.5085993),
 (7021, 0.5082704),
 (6430, 0.50804543),
 (2835, 0.50762105),
 (663, 0.5075873),
 (5912, 0.5064374),
 (6097, 0.5056036),
 (4848, 0.50336796),
 (3695, 0.5029627),
 (542, 0.50292075),
 (4189, 0.502903),
 (4898, 0.50273865),
 (4793, 0.50235176),
 (5899, 0.5014843),
 (7641, 0.5014725),
 (4768, 0.5008979),
 (3777, 0.50051165),
 (6157, 0.49998754),
 (2446, 0.49906105),
 (1189, 0.49883825),
 (866, 0.49839306),
 (7394, 0.49837664),
 (5159, 0.49822512),
 (4975, 0.4975249),
 (1838, 0.49708802),
 (2271, 0.49665326),
 (3524, 0.49612865),
 (5063, 0.4958941),
 (6126, 0.49530697),
 (1924, 0.4945541),
 (4528, 0.4937263),
 (5184, 0.49367985),
 (4656, 0.49366868),
 (4771, 0.4923921),
 (1525, 0.4920464),
 (3419, 0.4916524),
 (1336, 0.49148253),
 (4206, 0.4912718),
 (600, 0.49126467),
 (6921, 0.49124467),
 (5688, 0.4909603),
 (6883, 0.49093688),
 (3389, 0.49055374),
 (1490, 0.48964718),
 (2105, 0.48948115),
 (3641, 0.48912418),
 (2505, 0.48905694),
 (4094, 0.48896092),
 (4268, 0.48850465),
 (4152, 0.48829824),
 (2978, 0.48827007),
 (4232, 0.48717397),
 (1561, 0.4869213),
 (7601, 0.48661178),
 (5907, 0.48653919),
 (2617, 0.4862281),
 (4786, 0.48597926),
 (6718, 0.48462063),
 (6189, 0.4844517),
 (785, 0.48444965),
 (439, 0.48396763),
 (4352, 0.48382992),
 (2388, 0.4837363),
 (5425, 0.4836954),
 (6128, 0.4831406),
 (5162, 0.48211315),
 (3394, 0.47983623),
 (5710, 0.4795799),
 (5550, 0.47910336),
 (4082, 0.47894454),
 (3408, 0.47861916),
 (452, 0.47847694),
 (7040, 0.4784236),
 (2819, 0.47841698),
 (2124, 0.47818822),
 (6302, 0.47780573),
 (3818, 0.47735563),
 (5880, 0.47733188),
 (7718, 0.47659105),
 (6540, 0.47621527),
 (5399, 0.47571117),
 (6637, 0.47566423),
 (5338, 0.47565955),
 (5891, 0.4753269),
 (6209, 0.47531915),
 (3314, 0.4751832),
 (7602, 0.47416362),
 (5740, 0.47298902),
 (195, 0.47262213),
 (5653, 0.4722265),
 (6717, 0.47189462),
 (1247, 0.4717716),
 (4490, 0.46963638),
 (4536, 0.4692152),
 (3676, 0.46905333),
 (2127, 0.4689178),
 (5151, 0.46811795),
 (7208, 0.46790868),
 (5222, 0.46785733),
 (7209, 0.46780923),
 (7398, 0.46760172),
 (89, 0.46755952),
 (3006, 0.46434408),
 (3199, 0.4641137),
 (6628, 0.4634472),
 (2778, 0.46335676),
 (2937, 0.4627022),
 (7192, 0.46243745),
 (3509, 0.46232688),
 (5918, 0.46156308),
 (6010, 0.46140087),
 (4170, 0.46073684),
 (2451, 0.4603513),
 (6754, 0.46000504),
 (2299, 0.45912665),
 (6136, 0.45891392),
 (4626, 0.45862997),
 (4730, 0.45788026),
 (4693, 0.45733243),
 (76, 0.45599645),
 (1488, 0.455373),
 (1190, 0.45524123),
 (2402, 0.4547986),
 (1828, 0.4546203),
 (4324, 0.45428643),
 (2174, 0.45399842),
 (1093, 0.45394635),
 (5461, 0.45382667),
 (6386, 0.45355374),
 (3428, 0.4533727),
 (6516, 0.45311874),
 (7416, 0.45206726),
 (318, 0.4518425),
 (5883, 0.45128822),
 (271, 0.45111895),
 (6989, 0.45094165),
 (496, 0.45064843),
 (3005, 0.45064634),
 (651, 0.45035794),
 (4964, 0.4502767),
 (2496, 0.45011932),
 (6016, 0.44826013),
 (4534, 0.4482327),
 (6594, 0.44779754),
 (3424, 0.44690925),
 (7197, 0.44680765),
 (6506, 0.44587708),
 (5953, 0.44550276),
 (7516, 0.44510978),
 (1192, 0.4450245),
 (7077, 0.44498426),
 (7165, 0.4449425),
 (3694, 0.44481277),
 (5959, 0.44467983),
 (2411, 0.44404677),
 (4437, 0.44348186),
 (6342, 0.4433104),
 (4660, 0.44330582),
 (4357, 0.44310617),
 (4572, 0.4428393),
 (1708, 0.44268954),
 (3438, 0.44211572),
 (2063, 0.44175574),
 (6201, 0.44157425),
 (2986, 0.44072813),
 (3681, 0.44016224),
 (3194, 0.44001138),
 (6306, 0.43967503),
 (5185, 0.43950018),
 (3192, 0.4391394),
 (7138, 0.4389893),
 (1895, 0.43863624),
 (6130, 0.43861693),
 (3239, 0.43854135),
 (5219, 0.43852282),
 (5417, 0.4384477),
 (2794, 0.43833494),
 (4558, 0.43816638),
 (3727, 0.43814942),
 (3385, 0.43806195),
 (7547, 0.43786147),
 (285, 0.4377821),
 (5673, 0.43757197),
 (6588, 0.4371755),
 (3456, 0.43688807),
 (2544, 0.43681514),
 (7336, 0.43656343),
 (7371, 0.43638372),
 (2944, 0.43617666),
 (3299, 0.43591118),
 (4155, 0.43566734),
 (4901, 0.43510395),
 (5570, 0.43479),
 (1902, 0.43476617),
 (514, 0.4345348),
 (5157, 0.43429685),
 (878, 0.43393314),
 (3443, 0.43348348),
 (4561, 0.43322724),
 (3437, 0.4330917),
 (3369, 0.43293822),
 (6617, 0.432789),
 (1365, 0.43276575),
 (5720, 0.43265727),
 (3714, 0.4324932),
 (6318, 0.43215764),
 (529, 0.43168136),
 (7382, 0.4314982),
 (6409, 0.43130344),
 (3557, 0.43116108),
 (6604, 0.43098646),
 (4782, 0.43076676),
 (6497, 0.43072498),
 (6313, 0.43066388),
 (7112, 0.4304696),
 (7470, 0.4303677),
 (2863, 0.43011612),
 (3547, 0.42984208),
 (3739, 0.4298211),
 (6702, 0.42966807),
 (202, 0.42945105),
 (1334, 0.42906666),
 (5389, 0.42904437),
 (5259, 0.4287237),
 (2968, 0.42852336),
 (2800, 0.42833588),
 (7379, 0.42822492),
 (140, 0.4280792),
 (1164, 0.42729336),
 (3220, 0.42709196),
 (5831, 0.42673796),
 (1379, 0.42590916),
 (236, 0.4257666),
 (4481, 0.42571798),
 (1263, 0.4256097),
 (7610, 0.4254099),
 (2894, 0.42515695),
 (5435, 0.4251271),
 (4417, 0.42508584),
 (107, 0.42488962),
 (5073, 0.4245159),
 (173, 0.42445746),
 (6633, 0.4242037),
 (3478, 0.42395592),
 (389, 0.42376202),
 (7739, 0.4230656),
 (7566, 0.42215395),
 (157, 0.42213193),
 (3353, 0.42194217),
 (2707, 0.42187828),
 (5301, 0.42178842),
 (1050, 0.4216262),
 (5771, 0.4215954),
 (2793, 0.4208259),
 (4057, 0.4203391),
 (4083, 0.419723),
 (3102, 0.41930825),
 (5264, 0.41897836),
 (6300, 0.41880852),
 (5261, 0.41869912),
 (6191, 0.41850632),
 (5895, 0.41844538),
 (433, 0.41812104),
 (7069, 0.41803327),
 (7711, 0.41799098),
 (7701, 0.41780138),
 (7033, 0.41749954),
 (3675, 0.4174473),
 (1676, 0.41741145),
 (6049, 0.41733932),
 (7207, 0.4172628),
 (3114, 0.416573),
 (6972, 0.41652268),
 (3224, 0.41618288),
 (7190, 0.4161747),
 (1695, 0.41612732),
 (2062, 0.41611683),
 (4248, 0.41595042),
 (2838, 0.41584402),
 (3136, 0.41549474),
 (5323, 0.41536838),
 (7437, 0.41513455),
 (5004, 0.41506934),
 (7473, 0.4148839),
 (598, 0.41482064),
 (3677, 0.4147566),
 (1106, 0.41472262),
 (5905, 0.41419053),
 (3551, 0.41360492),
 (5155, 0.41312367),
 (2919, 0.41289693),
 (3274, 0.41280767),
 (3601, 0.4125028),
 (7173, 0.41234294),
 (942, 0.41229075),
 (474, 0.41221502),
 (3718, 0.41201425),
 (3263, 0.4119701),
 (6673, 0.41175735),
 (4091, 0.41137445),
 (4856, 0.41099882),
 (1678, 0.41075048),
 (2412, 0.41064134),
 (1879, 0.41014472),
 (2034, 0.4098334),
 (5628, 0.4096074),
 (7392, 0.4095273),
 (2628, 0.40932912),
 (1515, 0.40923482),
 (7025, 0.40920436),
 (5285, 0.40884775),
 (2706, 0.40859824),
 (953, 0.40833974),
 (6852, 0.40735608),
 (6174, 0.4073326),
 (3989, 0.40679657),
 (6691, 0.40678656),
 (5249, 0.4067491),
 (1771, 0.40661174),
 (5866, 0.40630388),
 (7689, 0.40625206),
 (1489, 0.40624702),
 (5436, 0.40620106),
 (4098, 0.4059111),
 (272, 0.40588164),
 (2061, 0.4057751),
 (6397, 0.40544873),
 (2522, 0.40490425),
 (3583, 0.4049018),
 (5394, 0.4048863),
 (5360, 0.40481126),
 (6478, 0.40474778),
 (6212, 0.4047242),
 (4024, 0.4046386),
 (153, 0.4045977),
 (4387, 0.4043926),
 (399, 0.40421107),
 (6383, 0.4039262),
 (3669, 0.4036465),
 (6170, 0.40285575),
 (6119, 0.40269762),
 (2784, 0.4022339),
 (1097, 0.40208894),
 (722, 0.4018405),
 (5013, 0.4011872),
 (7480, 0.4011526),
 (4602, 0.4010707),
 (1504, 0.4010592),
 (4079, 0.40102845),
 (44, 0.4009881),
 (6825, 0.40076572),
 (7737, 0.4005657),
 (1501, 0.4003951),
 (1199, 0.40024212),
 (78, 0.40007555),
 (3241, 0.39982507),
 (4111, 0.39966285),
 (6123, 0.3996154),
 (6879, 0.39900696),
 (7334, 0.39894837),
 (6533, 0.39891106),
 (7111, 0.39882082),
 (3034, 0.39818376),
 (6422, 0.39783555),
 (2762, 0.39768738),
 (6291, 0.39738953),
 (7447, 0.39725673),
 (6282, 0.396731),
 (4914, 0.39672783),
 (3313, 0.3962816),
 (2832, 0.39614996),
 (3410, 0.3958758),
 (2840, 0.3952667),
 (594, 0.3951608),
 (5900, 0.395084),
 (4102, 0.3950126),
 (2552, 0.394504),
 (6435, 0.39440525),
 (1479, 0.39437062),
 (6455, 0.39429978),
 (6303, 0.39417452),
 (3323, 0.39417285),
 (3290, 0.3937388),
 (5068, 0.39297697),
 (5755, 0.39294893),
 (6252, 0.39291373),
 (1188, 0.39277306),
 (3032, 0.39267808),
 (7357, 0.39261776),
 (6359, 0.39228863),
 (6758, 0.39225197),
 (2251, 0.3918391),
 (5089, 0.39161038),
 (3373, 0.39157122),
 (3440, 0.39149255),
 (6248, 0.3913424),
 (7764, 0.39114165),
 (3567, 0.39060014),
 (4246, 0.3905403),
 (5535, 0.39053923),
 (4020, 0.3903727),
 (6406, 0.3902099),
 (6837, 0.39017597),
 (5858, 0.3901129),
 (5228, 0.39007652),
 (1221, 0.38911048),
 (2899, 0.3887051),
 (4121, 0.38828534),
 (5111, 0.38823122),
 (5622, 0.38821524),
 (3256, 0.38819328),
 (1651, 0.38811848),
 (848, 0.38805443),
 (7774, 0.38789064),
 (1044, 0.38751903),
 (4015, 0.3874412),
 (7318, 0.3873986),
 (6297, 0.38732606),
 (713, 0.38682145),
 (5951, 0.3868186),
 (390, 0.38675657),
 (4244, 0.38674387),
 (5927, 0.38669607),
 (2088, 0.38646984),
 (148, 0.3862073),
 (2637, 0.38613468),
 (329, 0.38606834),
 (824, 0.3860356),
 (6710, 0.38579005),
 (4963, 0.38548344),
 (6666, 0.3853761),
 (7464, 0.38535222),
 (7441, 0.3853294),
 (243, 0.38531157),
 (5377, 0.3852266),
 (340, 0.38487566),
 (6684, 0.3847517),
 (789, 0.38474163),
 (3265, 0.38465413),
 (4183, 0.38419142),
 (5722, 0.38399404),
 (5902, 0.38398165),
 (1951, 0.38381252),
 (6324, 0.3838033),
 (6946, 0.38365084),
 (5243, 0.38358384),
 (5066, 0.3835591),
 (7729, 0.3835018),
 (2844, 0.3828634),
 (3247, 0.3825636),
 (1770, 0.38235307),
 (7049, 0.38192987),
 (2991, 0.38162178),
 (4204, 0.38152504),
 (4380, 0.38146275),
 (3531, 0.38131803),
 (1806, 0.38117692),
 (1477, 0.38107717),
 (1882, 0.380511),
 (5950, 0.38032418),
 (3996, 0.38019505),
 (1829, 0.38012278),
 (4709, 0.37989372),
 (6082, 0.37984928),
 (7733, 0.37978768),
 (2384, 0.37969977),
 (1797, 0.37962675),
 (6779, 0.37940922),
 (6742, 0.3792235),
 (113, 0.37921903),
 (6043, 0.37911093),
 (7363, 0.3790072),
 (6611, 0.37887138),
 (2238, 0.37886697),
 (6915, 0.37871537),
 (2673, 0.3785512),
 (3671, 0.37845194),
 (1363, 0.37844816),
 (1554, 0.37837976),
 (2317, 0.3782814),
 (707, 0.377673),
 (4142, 0.3776282),
 (2239, 0.3775177),
 (5462, 0.37746072),
 (5017, 0.37741333),
 (7125, 0.37731543),
 (4034, 0.37691042),
 (3120, 0.37687707),
 (5941, 0.37683195),
 (1533, 0.3764576),
 (6065, 0.37634656),
 (2624, 0.3762883),
 (1267, 0.3758018),
 (175, 0.37564945),
 (2890, 0.37556067),
 (3208, 0.37554908),
 (3328, 0.3755231),
 (6151, 0.37543225),
 (5395, 0.3752426),
 (6585, 0.37512332),
 (3985, 0.37505215),
 (5000, 0.3750244),
 (1858, 0.37501675),
 (5196, 0.37496555),
 (5689, 0.3749537),
 (4739, 0.3747139),
 (5105, 0.37468168),
 (6664, 0.3746457),
 (6466, 0.37462145),
 (2562, 0.37461776),
 (1354, 0.37437588),
 (2515, 0.37430876),
 (2741, 0.37424833),
 (4217, 0.37386954),
 (3883, 0.37380296),
 (3465, 0.37368673),
 (2285, 0.37351063),
 (2293, 0.37337238),
 (5505, 0.37269515),
 (6622, 0.37240958),
 (2321, 0.3722089),
 (7023, 0.37215674),
 (6343, 0.37211275),
 (3607, 0.3719346),
 (875, 0.3718139),
 (7288, 0.3716948),
 (1913, 0.37157324),
 (437, 0.37148398),
 (5723, 0.37137014),
 (4688, 0.37091887),
 (6474, 0.37090945),
 (2886, 0.37089553),
 (6054, 0.3708281),
 (3293, 0.37070972),
 (4150, 0.37068704),
 (2178, 0.37066156),
 (6263, 0.37065554),
 (6653, 0.3705565),
 (5838, 0.37050915),
 (4415, 0.37050796),
 (3587, 0.37050438),
 (575, 0.37031507),
 (5901, 0.37022704),
 (5691, 0.3702255),
 (2474, 0.37013885),
 (3091, 0.37002933),
 (1039, 0.3696519),
 (939, 0.3694514),
 (3966, 0.36939538),
 (215, 0.3692807),
 (4221, 0.36921927),
 (5747, 0.36919463),
 (5128, 0.36887392),
 (192, 0.36879924),
 (3472, 0.36868533),
 (6309, 0.36860093),
 (1944, 0.36857077),
 (6394, 0.36855936),
 (2739, 0.3685223),
 (1696, 0.3684904),
 (3118, 0.36844307),
 (7724, 0.36820102),
 (5554, 0.36810434),
 (7743, 0.36805695),
 (5690, 0.36795923),
 (3957, 0.36785245),
 (6259, 0.36772692),
 (4560, 0.36745274),
 (5239, 0.3673339),
 (3649, 0.3671242),
 (115, 0.3670792),
 (3941, 0.36705217),
 (3153, 0.367045),
 (5889, 0.36670458),
 (5810, 0.36664197),
 (2098, 0.36661446),
 (6069, 0.36644185),
 (5615, 0.36626005),
 (5308, 0.36621183),
 (465, 0.3660288),
 (5458, 0.36556286),
 (2881, 0.36531743),
 (6410, 0.36531228),
 (506, 0.36520347),
 (7460, 0.36519733),
 (4955, 0.36516064),
 (7226, 0.36464277),
 (4430, 0.3645684),
 (3374, 0.36451945),
 (4704, 0.36439383),
 (6966, 0.36425656),
 (6142, 0.3637417),
 (977, 0.36368683),
 (6181, 0.36356795),
 (4899, 0.36346686),
 (7710, 0.3633063),
 (395, 0.36313993),
 (7233, 0.36312222),
 (6275, 0.3631181),
 (7621, 0.36308885),
 (4385, 0.36292237),
 (1073, 0.36281946),
 (2379, 0.36280966),
 (7632, 0.3626365),
 (1220, 0.36221945),
 (7274, 0.3617615),
 (2685, 0.36157095),
 (5629, 0.3615297),
 (6071, 0.3614053),
 (4396, 0.361377),
 (1736, 0.36116642),
 (5835, 0.36104348),
 (2359, 0.36089984),
 (1820, 0.36076832),
 (3076, 0.36073977),
 (7163, 0.36057872),
 (7680, 0.36056188),
 (841, 0.36036825),
 (4555, 0.3601867),
 (4472, 0.360175),
 (7404, 0.3600477),
 (570, 0.35996616),
 (7671, 0.35990572),
 (1302, 0.35988373),
 (2007, 0.35979536),
 (2593, 0.3596986),
 (4080, 0.3596874),
 (7775, 0.35952514),
 (794, 0.35921875),
 (1724, 0.3589683),
 (7428, 0.35893053),
 (7345, 0.35889673),
 (4017, 0.358733),
 (5062, 0.35868752),
 (3505, 0.35867152),
 (4390, 0.35841024),
 (3799, 0.35826242),
 (4254, 0.35808945),
 (7432, 0.35794932),
 (950, 0.3576386),
 (3961, 0.35744548),
 (3606, 0.35738635),
 (6070, 0.3571335),
 (7488, 0.35702723),
 (1003, 0.3568847),
 (5374, 0.35658422),
 (672, 0.35649598),
 (3738, 0.35619742),
 (2907, 0.35608554),
 (3320, 0.35582203),
 (2681, 0.35568866),
 (6514, 0.35543966),
 (1266, 0.35517198),
 (5217, 0.3548031),
 (6152, 0.35476446),
 (2484, 0.35466295),
 (1317, 0.35453677),
 (1422, 0.35439318),
 (6484, 0.35409123),
 (7129, 0.3540106),
 (2802, 0.35370868),
 (6584, 0.35369444),
 (4350, 0.35342643),
 (1364, 0.35322365),
 (1861, 0.35311356),
 (6772, 0.35286975),
 (6308, 0.35271558),
 (6805, 0.35257283),
 (991, 0.3525293),
 (766, 0.35239023),
 (4231, 0.35238406),
 (7067, 0.3523291),
 (7631, 0.35212559),
 (3244, 0.3521068),
 (5457, 0.35174352),
 (2652, 0.3517136),
 (5500, 0.35162932),
 (7035, 0.3515945),
 (4251, 0.3515222),
 (1487, 0.35140118),
 (6268, 0.3511507),
 (3997, 0.35112652),
 (1245, 0.35102868),
 (4990, 0.35082603),
 (5749, 0.35060152),
 (678, 0.35050493),
 (3464, 0.35047805),
 (5115, 0.35044092),
 (2847, 0.35043174),
 (7136, 0.35031274),
 (1331, 0.35028684),
 (6827, 0.35023135),
 (5355, 0.35016364),
 (6839, 0.35015368),
 (2036, 0.35011375),
 (1721, 0.3500995),
 (1874, 0.35002625),
 (5540, 0.34993345),
 (2950, 0.34955394),
 (4253, 0.3493869),
 (6596, 0.34916466),
 (2915, 0.3489688),
 (3910, 0.34888458),
 (1997, 0.34867072),
 (5853, 0.34837115),
 (7518, 0.3483533),
 (2812, 0.34829658),
 (5109, 0.3482688),
 (6190, 0.34798235),
 (5510, 0.34793985),
 (1319, 0.3479132),
 (2112, 0.347902),
 (6239, 0.34789878),
 (4050, 0.34763435),
 (6462, 0.3475756),
 (286, 0.34740168),
 (1553, 0.34717625),
 (2533, 0.34715635),
 (7305, 0.34715536),
 (4360, 0.34712142),
 (5870, 0.34709728),
 (3414, 0.34709218),
 (3398, 0.34705895),
 (3913, 0.34699562),
 (5893, 0.34693044),
 (80, 0.34678054),
 (4967, 0.34645385),
 (487, 0.3464223),
 (5687, 0.34625977),
 (6165, 0.34615958),
 (1807, 0.3461315),
 (4356, 0.346083),
 (6037, 0.3460266),
 (5198, 0.34589922),
 (4769, 0.34569064),
 (5877, 0.34561837),
 (1940, 0.34537292),
 (6056, 0.34534165),
 (4376, 0.34525716),
 (1836, 0.34519732),
 (4239, 0.34506196),
 (4414, 0.34501705),
 (6316, 0.34495175),
 (7552, 0.3448541),
 (5254, 0.34462386),
 (4925, 0.34430224),
 (2895, 0.3442465),
 (5143, 0.34421447),
 (6118, 0.3441782),
 (1283, 0.34393218),
 (3013, 0.3439213),
 (5830, 0.34390253),
 (4571, 0.34375525),
 (2519, 0.3436582),
 (7100, 0.34352815),
 (5345, 0.3434012),
 (1166, 0.34336352),
 (6219, 0.34319586),
 (7376, 0.3431782),
 (4687, 0.34316626),
 (5161, 0.34299403),
 (4868, 0.34296504),
 (4664, 0.34293646),
 (262, 0.34291667),
 (5797, 0.34283996),
 (6276, 0.34279683),
 (6234, 0.34278822),
 (810, 0.34276882),
 (5925, 0.34263372),
 (6467, 0.34256807),
 (6150, 0.34254393),
 (6501, 0.34251636),
 (1955, 0.34245008),
 (7115, 0.34240773),
 (5915, 0.3422013),
 (2811, 0.342118),
 (7039, 0.34198985),
 (4650, 0.3417471),
 (5250, 0.34170556),
 (3122, 0.3415134),
 (6548, 0.34121352),
 (1032, 0.34071815),
 (4207, 0.34033978),
 (6352, 0.34025514),
 (1187, 0.3402538),
 (58, 0.34011722),
 (2896, 0.33977884),
 (1280, 0.3397748),
 (5149, 0.33971345),
 (2476, 0.3396522),
 (1099, 0.33961722),
 (2758, 0.33955574),
 (1702, 0.3394665),
 (5702, 0.3394592),
 (6848, 0.33930844),
 (4790, 0.3392572),
 (7368, 0.33923492),
 (1586, 0.33920023),
 (5455, 0.33914793),
 (3336, 0.33902866),
 (7297, 0.33889252),
 (3650, 0.33875376),
 (3712, 0.33871818),
 (7084, 0.3386769),
 (6389, 0.33862764),
 (6391, 0.3384223),
 (4403, 0.33825016),
 (5573, 0.33823484),
 (364, 0.3381871),
 (2415, 0.33811605),
 (7658, 0.33806255),
 (3222, 0.33804202),
 (3425, 0.33778396),
 (4463, 0.33761263),
 (1357, 0.33756226),
 (1983, 0.33754265),
 (1010, 0.33747274),
 (3445, 0.33743858),
 (2827, 0.33732626),
 (3068, 0.3373256),
 (3463, 0.33714),
 (7314, 0.3370392),
 (1460, 0.3369767),
 (2665, 0.33692682),
 (7306, 0.33691493),
 (1935, 0.33684057),
 (6256, 0.33682868),
 (5965, 0.33681136),
 (5354, 0.33656904),
 (6789, 0.3365333),
 (5273, 0.3365305),
 (3399, 0.3364727),
 (4416, 0.33637273),
 (498, 0.33628306),
 (429, 0.33604798),
 (803, 0.3359565),
 (6481, 0.33576238),
 (6607, 0.33553568),
 (7634, 0.3354904),
 (3296, 0.33524907),
 (1564, 0.33509213),
 (3363, 0.33507806),
 (7104, 0.33499855),
 (3622, 0.33486494),
 (3444, 0.3348102),
 (1508, 0.33479315),
 (5942, 0.33476),
 (4065, 0.33472043),
 (3355, 0.3345468),
 (4985, 0.3343596),
 (1167, 0.33426845),
 (1599, 0.33420724),

In [48]:
recommended = sim[0:5]
for i in recommended:
    print(df.iloc[i[0]])

id                                                                316021
original_language                                                     en
original_title                                              Frank & Lola
popularity                                                        11.132
release_date                                                  2016-12-09
vote_average                                                         5.6
vote_count                                                           130
genre                                    ['Drama', 'Mystery', 'Romance']
overview               A psychosexual noir love story, set in Las Veg...
revenue                                                             9188
runtime                                                             88.0
tagline                                  Love obssesion betrayal revenge
preproc_description    a psychosexual noir love story set in las vega...
preproc_genre                                      drama mystery romance
text                   a psychosexual noir love story set in las vega...
Name: 7513, dtype: object
id                                                                 14313
original_language                                                     en
original_title                                             Feast of Love
popularity                                                         9.897
release_date                                                  2007-09-28
vote_average                                                         6.3
vote_count                                                           180
genre                                               ['Romance', 'Drama']
overview               A meditation on love and its various incarnati...
revenue                                                          3504875
runtime                                                            101.0
tagline                    A story for anyone with an appetite for love.
preproc_description    a meditation on love and its various incarnati...
preproc_genre                                              romance drama
text                   a meditation on love and its various incarnati...
Name: 7416, dtype: object
id                                                                391714
original_language                                                     en
original_title                                           On Chesil Beach
popularity                                                        10.369
release_date                                                  2018-01-19
vote_average                                                         6.2
vote_count                                                           280
genre                                               ['Drama', 'Romance']
overview               In 1962 England, a young couple finds their id...
revenue                                                          3335913
runtime                                                            110.0
tagline                              A different time. A different love.
preproc_description    in england a young couple finds their idyllic ...
preproc_genre                                              drama romance
text                   in england a young couple finds their idyllic ...
Name: 9181, dtype: object
id                                                                 19265
original_language                                                     en
original_title                                            Whatever Works
popularity                                                          9.75
release_date                                                  2009-06-19
vote_average                                                         7.1
vote_count                                                          1374
genre                                              ['Comedy', 'Romance']
overview               Whatever Works explores the relationship betwe...
revenue                                                         36020534
runtime                                                             92.0
tagline                                                    A new comedy!
preproc_description    whatever works explores the relationship betwe...
preproc_genre                                             comedy romance
text                   whatever works explores the relationship betwe...
Name: 9697, dtype: object
id                                                                228205
original_language                                                     en
original_title                                          The Longest Ride
popularity                                                        26.253
release_date                                                  2015-04-09
vote_average                                                         7.6
vote_count                                                          2639
genre                                               ['Drama', 'Romance']
overview               The lives of a young couple intertwine with a ...
revenue                                                         63013281
runtime                                                            128.0
tagline                    Two couples. Two love stories. One epic tale.
preproc_description    the lives of a young couple intertwine with a ...
preproc_genre                                              drama romance
text                   the lives of a young couple intertwine with a ...
Name: 2843, dtype: object